{{!-- meal card --}}
<div class="meal-card" id="meal">

    {{!-- meal thumbnail --}}
    {{!-- Uses handlebars helpers npm package. --}}
    {{#if (eq meal_name "Breakfast")}}
    <img class="meal-card-img" src="./assets/Breakfast.png">
    {{else if (eq meal_name "Lunch")}}
    <img class="meal-card-img" src="./assets/Lunch.png">
    {{else if (eq meal_name "Snack")}}
    <img class="meal-card-img" src="./assets/Snack.png">
    {{else if (eq meal_name "Dinner")}}
    <img class="meal-card-img" src="./assets/Dinner.png">
    {{else if (eq meal_name "Beverage")}}
    <img class="meal-card-img" src="./assets/Beverage.png">
    {{/if}}

    {{!-- meal details --}}
    <div class="meal-card-text-layout">
        <h3 id="meal-type">{{meal_name}}</h3>

        {{!-- meal nutrition --}}
        <div class="flex-row" style="gap:20px; margin-top: 20px;">
            <p class="regular foreground-success" id="calories-meal">Calories: {{calories}}</p>
            <p class="regular foreground-danger" id="protein-meal">Proteins: {{protein}}g</p>
            <p class="regular foreground-warning" id="carbs-meal">Carbs: {{carbs}}g</p>
            <p class="regular foreground-success" id="fats-meal">Fats: {{fat}}g</p>
        </div>
    </div>

    {{!-- meal actions --}}
    <div class="flex-row" style="margin-right:16px; margin-left:auto; margin-top: 16px; margin-bottom: auto;">
        <button type="submit" class="btn outline remove-meal" data-id={{id}} style="margin: 12 0 20 0;"><i
                class="far fa-trash-alt" style="padding-right:8px;"></i>Remove</button>

    </div>
</div>